#stage-caption>h1 {
  -webkit-animation-duration: 6s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
}

.client, .quoteText, .company{
	-webkit-animation-duration: 4s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
}


/*.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}*/